if SHIELD_SAURUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Saurus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
    default y

endif

if SHIELD_SAURUS_LEFT || SHIELD_SAURUS_RIGHT

config ZMK_SPLIT
    default y

endif
